# conda install -c conda-forge llama-cpp-python
# Related to LangChain
langchain
langchain-community
langchain_huggingface
# langchain_core 

# Extras
pdfplumber
streamlit

# Vector store
faiss-cpu 

sentence-transformers
